In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as snb

In [2]:
# long duration of all dataset
# User interest
# clicked distribution through timestamp
# topic clicked through timestamp
# % promoted clicked

In [3]:
ls data/

clicks_test.csv.zip           documents_topics.csv.zip
clicks_train.csv.zip          page_views_sample.csv.zip
documents_categories.csv.zip  promoted_content.csv.zip
documents_entities.csv.zip    sample_submission.csv.zip

# Load data into memory (7GB RAM)

In [4]:
train_click = pd.read_csv("data/clicks_train.csv.zip")
test_click = pd.read_csv("data/clicks_test.csv.zip")

categories = pd.read_csv("data/documents_categories.csv.zip")
topics = pd.read_csv("data/documents_topics.csv.zip")
entities = pd.read_csv("data/documents_entities.csv.zip")
promoted_content= pd.read_csv("data/promoted_content.csv.zip")

In [17]:
page_views = pd.read_csv("data/page_views_sample.csv.zip", infer_datetime_format=True,parse_dates=True)

## Percentage of clicked ads

In [5]:
click_ad = train_click[train_click.clicked==1]
percentage = len(click_ad)*100/len(train_click)
print "percentage = %s"%percentage

percentage = 19

In [6]:
page_views.head()

,uuid,document_id,timestamp,platform,geo_location,traffic_source
0,1fd5f051fba643,120,31905835,1,RS,2
1,8557aa9004be3b,120,32053104,1,VN>44,2
2,c351b277a358f0,120,54013023,1,KR>12,1
3,8205775c5387f9,120,44196592,1,IN>16,2
4,9cb0ccd8458371,120,65817371,1,US>CA>807,2

In [19]:
added_delta = 1465876799998
timestamp = page_views.timestamp + added_delta

In [20]:
page_views['timestamp_utc'] = pd.to_datetime(timestamp, infer_datetime_format=True,utc=True)

In [23]:
a = pd.DatetimeIndex(page_views.timestamp_utc).tz_localize("UTC").tz_convert("Asia/Kolkata")

In [47]:
start = pd.Timestamp('2016-6-14', freq='s')

In [50]:
duration = pd.date_range(start=start,end=start + len(timestamp),freq='s')

In [29]:
groups = topics.groupby(['document_id'])

In [ ]:
a = groups.idxmax()

In [19]:
topics[topics.document_id==1]

         document_id  topic_id  confidence_level
4504005            1       252          0.020726
4504006            1        35          0.012773
4504007            1       150          0.011959
4504008            1       276          0.010160
4504009            1       137          0.009344

In [26]:
max_confident.head()

             topic_id  confidence_level
document_id
1                 276          0.020726
2                 216          0.013029
3                 283          0.029914
4                 244          0.084171
5                 244          0.106555